.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow: auto;
  .modal {
    min-width: 300px;
    max-width: 900px;
    max-height: 90vh;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f1ecec;
      color: #666;
      border-bottom: 1px solid #ddd;
      padding: 8px 12px;
      text-align: center;
      position: relative;
      border-radius: 8px;
      .modalTitle {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      .crossIcon {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    }
    .modalBody {
      padding: 12px;
    }
    .modalFooter {
      display: flex;
      // justify-content: flex-end;
      padding: 8px 12px;
      border-top: 1px solid #ddd;
    }
  }
  .roundedBorder {
    border-radius: 8px;
  }
}

.positionTop {
  align-items: flex-start;
  padding-top: 24px;
}

.imageModal {
  width: 500px;
  height: 100px;
}
.spanStyle {
  display: inline-block;
  margin-right: 5px;
}
.spanStyle svg {
  width: 25px;
  height: 25px;
}

.animateOverlay {
  .modal {
    animation-name: modal;
    animation-duration: 0.8s;
    animation-direction: linear;
    transform: translateY(0);
    overflow: hidden;
  }
}

@keyframes modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
