.root {
  width: 100%;
  max-height: 132px;
  height: 100%;
  min-height: 132px;
  border: 1px solid #c7ccd0;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  overflow: auto;
  column-gap: 8px;
  position: relative;
  .customTag {
    height: 22px;
    width: 85px;
    background: #ca56a1;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    z-index: 1;
    opacity: 0.8;
    font-size: 13px;
  }
  .imageDiv {
    min-height: 100%;
    width: 128px;
    position: relative;
    img {
      border: 1px solid #c7ccd0;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 8px;
    .descDiv {
      flex: 1;
      display: flex;
      max-width: 400px;
      flex-direction: column;
      justify-content: space-between;
      .descDetail {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .desc {
          color: #575757;
          font-size: 16px;
          line-height: 130%;
        }
        .rating {
          font-size: 14px;
          font-weight: bold;
        }
      }
      .merchant {
        color: #6a6a6a;
        font-size: 12px;
        font-weight: 500;
        & > span {
          color: #347ab6;
        }
      }
      a {
        font-size: 12px;
        color: #347ab6;
        text-decoration: underline;
      }
    }
    .actionDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 4px;
      position: relative;
      padding-bottom: 8px;
      .removeIcon {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
      }
      button {
        width: 100%;
      }
      .price {
        color: #575757;
        font-size: 22px;
        line-height: 130%;
        font-weight: 600;
      }
    }
  }
}
