@use "@/scss/colors.scss" as *;

.securityContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  margin-top: 8px;
  .subHeading {
    font-size: 18px;
    font-weight: normal;
    color: var(--doveGray);
    margin-top: 16px;
  }
  .divider {
    margin: 0;
  }
}
