@use "@/scss/colors.scss" as *;

.container {
  display: flex;
  justify-content: center;
}
.headingText {
  font-size: 18px;
  color: var(--doveGray);
}
.filterContainer {
  height: 260px;
  background-color: var(--lightblue);
}
.filterText {
  font-weight: 600;
  font-size: 18px;
}
.showSection {
  display: flex;
  margin: 4px 0px 4px 0px;
  align-items: center;
}
.label {
  position: relative;
  font-weight: 600;
  font-size: 13px;
}
.filterBtns {
  display: flex;
}
.claimInput {
  width: 30%;
}
.filterBtns button {
  border: none;
  margin: 0px 4px 0px 4px;
  padding: 4px;
  font-size: 13px;
}

.myButton {
  background-color: var(--astral);
  color: var(--white);
}
.filterButtons {
  display: flex;
  list-style: none;
}
.buttonDiv {
  display: flex;
  justify-content: right;
  margin: 0px 4px 0px 4px;
}
.datePickerInput {
  width: 19%;
  margin-right: 2%;
}
.datePickerInputRight {
  width: 19%;
}
.DatePickerZindex {
  z-index: 3;
}
.selectBoxZindex {
  z-index: 2;
}
.selectStatusBoxZindex {
  z-index: 4;
}
.viewBysection {
  display: flex;
  margin: 4px 0px 4px 0px;
}
