.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  margin: 0 16px 0 16px;
  padding-left: 14px;
  .formControl {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    width: 100%;
    .inputField {
      width: 100%;
    }
    .label {
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
    }
  }
  .actionDiv {
    display: flex;
    gap: 15px;
    margin-left: auto;
    align-items: center;
    .backBtn {
      font-weight: normal;
    }
    .resetBtn {
      font-weight: normal;
      width: 85px;
    }
  }
}
