@use "@/scss/colors.scss" as *;
.addListTableContainer {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.textAlignCenter {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  margin-top: 9px;
  font-weight: 500;
}

.modalWidth {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  overflow-x: auto;
}
.modalContainer {
  align-items: start;
}

.labelStyles {
  font-size: 13.5px;
  color: var(--black);
  font-weight: 600;
  margin-top: 10px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid grey;
}

.checkHeader {
  margin-left: auto;
  margin-right: auto;
  div {
    justify-content: center !important;
  }
}

.spanStyle {
  font-weight: normal;
  margin-left: 5px;
}

.bakgroundColorStyle {
  background-color: var(--mystic);
  margin-top: 5px;
}

.labelStylesStated {
  font-size: 13.5px;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 20px;
}
