@use "@/scss/colors.scss" as *;

.stickyContainer {
  // position: sticky;
  top: 35px;
  // z-index: 9;
  background-color: var(--white);
  .headingContainer {
    margin-top: 10px;
    font-weight: 400;
    padding-left: 0;
  }
  .headingTxt {
    color: var(--doveGray);
    padding: 1px;
    font-size: 18px;
  }
}
