.addListTableContainer {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.textAlignCenter {
  text-align: center;
  cursor: pointer;
}

.modalWidth {
  width: 100%;
}
.modalContainer {
  align-items: start;
}

.labelStyles {
  font-size: 13.5px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 5px;
}
