.select {
  // margin-top: 90px;
  width: 800px;
  font-size: 18px;
}
.GenericSelect {
  // width: 800px;
  font-size: 18px;
}
.App {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
