.claimTableContainer {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.originalItemHeader {
  margin-left: auto;
  margin-right: auto;
  background: #abe7fc !important;
  div {
    justify-content: center !important;
  }
}
.replacementItemHeader {
  margin-left: auto;
  margin-right: auto;

  background: #55cef6 !important;
  div {
    justify-content: center !important;
  }
}
.checkHeader {
  margin-left: auto;
  margin-right: auto;
  div {
    justify-content: center !important;
  }
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid grey;
}
.actionButtons {
  display: flex;
  gap: 10px;
  padding: 5px;
  z-index: 999;
}
.modalContainer {
  align-items: start;
}
.modalContent {
  width: 600px;
  position: relative;
  top: 30px;
}
