.inputBoxAlign {
  text-align: right;
}
.upperContainer {
  border-bottom: 1px solid #dddddd;
}
.alignRight {
  justify-content: right;
}
.labelStyle {
  font-size: 13px;
  font-weight: 600;
}
.text {
  font-size: 13px;
}
.container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.alignItems {
  align-items: center;
}
