.upperContainer {
  border-bottom: 1px solid #dddddd;
}
.alignRight {
  justify-content: right;
}
.inputBoxAlign {
  text-align: right;
}
.labelStyle {
  font-size: 13px;
  font-weight: 600;
}
.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textArea {
  height: 50px;
  padding: 5px;
}
.iconColor {
  color: var(--scarletRed);
}
.fileInputStyle {
  display: none;
}
