@use "@/scss/colors.scss" as *;

.fieldRowContainer {
  display: flex;
  font-size: 13px;
  margin: 2px 0;
  justify-content: center;
  gap: 5px;
  .fieldSetContainer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    min-width: 30%;
    margin: 5px;
    border: 1px solid var(--mineShaft);
    border-radius: 4px;
    font-size: 11px;
    .fieldSetLabel {
      font-size: 11px;
      padding: 0 4px;
      color: var(--mineShaft);
      font-weight: 600;
    }
    .fieldValue {
      font-size: 12px;
      input {
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 12px;
        color: var(--mineShaft);
        cursor: not-allowed;
      }
      .customInput {
        border: none;
        height: inherit;
        padding: unset;
        color: var(--mineShaft);
        cursor: not-allowed;
      }
    }
  }
}
