.loaderContainer {
  min-height: 112px;
}

@mixin scoreWidthMonth {
  min-height: 80px;
  text-align: center;
}

.newClaimCard {
  @include scoreWidthMonth;
}

.closedClaimCard {
  @include scoreWidthMonth;
}

.avgClosingTimeCard {
  @include scoreWidthMonth;
}
.claimTypeCount {
  font-size: 16px;
  font-weight: 600px;
}
.claimTypeLabel {
  font-size: 13px;
  font-weight: 600;
}
