.textAddStyle {
  font-size: 13px;
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
  margin-right: 30px;
  margin-top: 2px;
}

.addStyleContainer {
  display: flex;
  align-items: center;
}

.selectOption {
  padding-left: 20px;
}
