.securityQuestionPointsContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--lightblue);
  color: #333333;
  font-weight: normal;
  padding: 4px;
  border-radius: 4px;
  margin: 0 25px;
  .validationList {
    list-style: none;
  }
}
