@use "@/scss/_size.scss" as *;
@use "@/scss/colors.scss" as *;

.formContainer {
  // border: 1px solid var(--mystic);
  padding: $size_md;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.5714px;
  display: flex;
  flex-direction: column;
  gap: $size_md;
  border-bottom: 1px solid var(--grey3);

  .questionContainer {
    display: flex;
    gap: $size_md;
    align-items: center;
  }

  .answerContainer {
    display: flex;
    gap: $size_md;
    align-items: center;
  }
  .inputFieldClassname {
    border: 1px solid var(--grey4);
    margin-left: 8px;
  }
}

.label {
  display: inline-block;
}

.actionBtn {
  width: fit-content;
  margin-left: auto;
  padding: 0 $size_md;
}
