@use "@/scss/colors.scss" as *;

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-y: 10px;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-item-padding-x: 4px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: var(--bs-breadcrumb-margin-y);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
  .breadcrumb-item {
    line-height: 100%;
    .link {
      color: var(--breadcrumbItemColor);
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      height: auto;
      line-height: 18.5714px;
    }
    .link-active {
      color: var(--breadcrumbItemActiveColor);
      pointer-events: none;
    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--breadcrumbDividerColor);
  content: ".";
  position: relative;
  top: -3px;
  font-size: 40px;
  line-height: 1px;
}
