$wisteria: #975fa8;
$royalBlue: #4169e1;
$darkSkyBlue: #40acfc;
$white: #fff;
$lightGrey: #d3d3d3;
$lightGrey2: #cfc9c9;
$darkGrey: #a9a9a9;
$iron: #d9dddc;
$grey1: #808080;
$grey2: #827e7e;
$grey3: #ddd;
$grey4: #c2cad8;
$grey5: #c7ccd0;
$grey6: #ccc;
$mystic: #e7ecf1;
$lightBlue2: #32c5d2;
$lightBlue3: #26a1ab;
$portGore: #27235e;
$errorRed: red;
$cadetGrey: #a7b2c0;
$oxfordBlue: #364150;
$doveGray: #666;
$mineShaft: #333;
$danube: #5c9bd1;
$astral: #337ab7;
$blueJay: #23527c;
$loaderBlue: #47cbd7;
$hoverBlue: #7fa5c6;
$lightBlack: #555555;
$notifySuccessColor: #bbf0c9;
$notifyWarningColor: #f5e1a2;
$notifyDangerColor: #edadab;
$noRecordRed: #df424f;
$lightBrown: #ffb27f54;
$fontGreen: #32c5d2;

/*Breadcrumb colors config*/
$breadcrumbItemColor: $astral;
$breadcrumbItemActiveColor: $cadetGrey;
$breadcrumbDividerColor: $cadetGrey;

// btns
$lightBlueBtn: $lightBlue2;
$lightBlueHoverBtn: $lightBlue3;
$darkBlueBtn: $portGore;
$darkBlueHoverBtn: #423aad;
$lightBtn: #edecec;

// scrollbar
$scrollbarColor: $astral;
// newClaims Tabs
$lightOrange: #ffd580;
$lightArrowGrey: #e8e8e8;
$blueLight: #8bb4e7;
