$barGraphOrange: #ff7800;
$barGraphBlue: #276cb7;
$lineGraphBlue: #4169e1;
$lineGraphGreen: #008000;
$graphWhite: #fff;

:export {
  barGraphOrange: $barGraphOrange;
  barGraphBlue: $barGraphBlue;
  lineGraphBlue: $lineGraphBlue;
  lineGraphGreen: $lineGraphGreen;
  graphWhite: $graphWhite;
}
